<div class="row">
    <div class="col-12">
        <div class="card border-secondary">
            <div class="card-body">
                <div class="row mb-1">
                    <div class="col-8 col-sm-9 col-md-10 col-lg-10 col-xl-10">
                        <h5 class="card-title">TODO</h5>
                    </div>
                    <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                        <a class="btn btn-success col-12" routerLink="/todo/add"> <i class="fa fa-plus"></i> Nuevo</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead class="thead-dark">
                        <tr>
                            <th class="textTop" scope="col">ID</th>
                            <th scope="col">
                                DESCRIPCIÓN
                                <input type="text" id="description" class="form-control form-control-sm col-12" minlength="3" [(ngModel)]="filters.description" [ngModelOptions]="{standalone:true}" (ngModelChange)="changeFilter(true)">
                            </th>
                            <th scope="col">
                                ESTATUS
                                <select  class="form-control form-control-sm col-12" [(ngModel)]="filters.status" [ngModelOptions]="{standalone:true}" (ngModelChange)="changeFilter()">
                                    <option selected value="null">SELECCIONAR</option>
                                    <option value="true">ACTIVO</option>
                                    <option value="false">INACTIVO</option>
                                </select>
                            </th>
                            <th class="textTop" scope="col">OPCIONES</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let row of listData">
                            <th scope="row">{{row._id}}</th>
                            <td>{{row.description}}</td>
                            <td>{{row.status ? 'ACTIVO' : 'INACTIVO'}}</td>
                            <td>
                                <a class="btn btn-link" [routerLink]="['/todo/'+row._id]"  title="Editar"> <i class="fa fa-pencil icon-pencil"></i> </a>
                                <a class="btn btn-link" title="Eliminar" (click)="delete(row._id)"> <i class="fa fa-trash icon-trash"></i> </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>  
                </div>
                <div class="row">
                    <div class="col-12 col-sm-10 col-md-5 col-lg-5 col-xl-5 offset-sm-2 offset-md-3 offset-lg-3 offset-xl-4">
                        <ngb-pagination
                            [(page)]="page"
                            pageSize="5"
                            [collectionSize]="countData"
                            (pageChange)="pageChange()"></ngb-pagination>
                    </div>                    
                </div>
            </div>
          </div>
    </div>
</div>