<div class="row">
    <div class="col-12 col-sm-10 col-md-5 col-lg-6 col-xl-6 offset-md-3 ">
        <h1 class="justify-content-center">Test Técnico Software Engineer</h1>
        <br>
        <h4>Problema</h4>
        <h6>Implementar una solución que permita guardar y listar una/s  Entidad/es TODOs con las siguientes características:</h6>
        TODO (To do, listado de tareas por hacer)
        <ul>
            <li>A ) ID</li>
            <li>B) DESCRIPCION (EL TODO a hacer)</li>
            <li>C) Estado</li>
            <li>D) Foto/Imagen/Documento adjunta a la DESCRIPCION</li>
        </ul>
        <h6>A implementar:</h6>
        <ul>
            <li>Listado de TODOs: METHOD GET (Respetar convenciones en la url)</li>
            <li>Listado filtrado por A B y C: METHOD GET (Utilizar query parameters y respetar convenciones)</li>
            <li>Alta del TODO: METHOD POST (Respetar convenciones en la url). Que reciba la foto/imagen/documento también.</li>
            <li>Cambio de estado, de pendiente a resuelta.</li>
        </ul>
    </div>
</div>