<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ng-template [ngxPermissionsOnly]="'ADMIN'">
      <a class="navbar-brand" routerLink="/home"><i class="fa fa-home"></i> Home</a>
    </ng-template>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/payroll/{{this.id}}"><i class="fa fa-bank"></i> Mi Nómina <span class="sr-only">(current)</span></a>
        </li>
        <ng-template [ngxPermissionsOnly]="'ADMIN'">
          <li class="nav-item active" >          
            <a class="nav-link" routerLink="/employer"><i class="fa fa-users"></i> Empleados <span class="sr-only">(current)</span></a>
          </li>
        </ng-template>
        <ng-template [ngxPermissionsOnly]="'ADMIN'">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/todo"><i class="fa fa-balance-scale"></i> Generar Nóminas <span class="sr-only">(current)</span></a>
          </li>
        </ng-template>        
      </ul>
    </div>
    <span class="navbar-text">
        <button class="btn btn-link text-white" (click)="logout()"><i class="fa fa-power-off text-white"></i> Cerrar Sesión</button>
    </span>
</nav>