<section class="background-login registro confirmacionPassword">
    <div class="card-body">
      <div class="row row-login justify-content-start">
        <div class="col-xl-4 offset-xl-4">
          <div class="card border-primary ">
            <div class="card-body text-primary">
              <img src="../../../assets/company.png" class="img-fluid">
              <br><br>
              <form [formGroup]="frmLogin">
                <div class="input-group" [ngClass]="{'mb-3' : !showErrors('email')}">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="username-icon">
                      <i class="fa fa-envelope fa-lg"></i>
                    </span>
                  </div>
                  <input type="email" class="form-control" placeholder="Correo" aria-describedby="username-icon" formControlName="email" autofocus [ngClass]="inputValid('email')" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">                   
                </div>
                <div *ngIf="showErrors('email')" class="text-error">
                    <div *ngIf="frmLogin.controls['email'].errors.required">Campo requerido.</div>
                    <div *ngIf="frmLogin.controls['email'].errors?.pattern">Formato Incorrecto.</div>
                </div>
                <div class="input-group" [ngClass]="{'mb-3' : !showErrors('password')}">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="password-icon">
                      <i class="fa fa-lock fa-lg"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="password-icon" formControlName="password" [ngClass]="inputValid('password')">
                </div>
                <div *ngIf="showErrors('password')" class="text-error">              
                    <div *ngIf="frmLogin.controls['password'].errors.required">Campo requerido.</div>
                </div>
                <div class="form-group text-center m-t-5 mb-1">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase" (click)="login()">Entrar <i class="fa fa-chevron-circle-right"></i></button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 m-t-5 text-center">
                    <div class="social">
                      <a [routerLink]="['/registro']" class="btn btn-outline-success col-xl-12 btn-lg text-uppercase"><i class="fa fa-user-plus"></i> Registrarse</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>